.oldMeetings {
  width: 100%;
  height: 100%;
  padding-top: 133px;
  background: #f9f9f9;
  .title {
    font-size: 24px;
  }
  .oldMeetingsWrapper {
    display: flex;
    .oldMeetingsItem {
      flex: 1;
    }
  }
  .smartTable {
    // padding: 0 89px;
    margin: 0 35px;
    background: white;
  }
  .ant-pagination {
    display: none;
  }
  .bottomBg {
    // height: 400px;
    // background: url(~@/static/img/committee/bg.png) no-repeat;
    background-size: 100% 100%;
  }
}
