.userInfoWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 24px;
  font-weight: 400;
  color: #999999;
  position: relative;
  .avatar {
    width: 137px;
    height: 137px;
    background: #f7f8fb;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 33px;
  }
  .userInfo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
    .avatar {
      width: 137px;
      height: 137px;
      background: #f7f8fb;
      border-radius: 2px;
      margin: 0 auto;
      margin-bottom: 33px;
    }
  }
  .userInfoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // position: absolute;
    .actionBtnWrapper {
      .bigBtn:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
