.loginForm {
  .approverCheckbox {
    .ant-form-item-control-input-content {
      width: 25px;
    }
  }
  .findPwd {
    cursor: pointer;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #a45e5d;
    }
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: #a45e5d;
}
