.activity {
  .festival {
    .festivalItem {
      display: flex;
      font-size: 24px;
      color: #666666;
      margin-bottom: 55px;
      &.festivalItemRight {
        text-align: right;
      }
      .festivalInfoWrapper {
        width: 568px;
        height: 320px;
      }

      .festivalImg {
        width: 568px;
        height: 320px;
        background: #f7f8fb;
        border-radius: 10px 10px 10px 10px;
        margin-right: 42px;
      }
      .festivalTitle {
        margin-top: 58px;
        font-weight: 600;
      }
    }
  }
}
