.home {
  width: 100%;
  height: 100%;
  .banner {
    height: 100%;
    max-height: 100%;
    background: url(~@/static/img/home/banner.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .bannerCenter {
      padding-top: 60px;
      font-size: 30px;
      font-weight: 900;
      color: #333333;
      .activityInfo {
        margin: 50px 0;
        font-size: 18px;
      }
      .postBtn {
        border-radius: 100px;
      }
    }
  }
  .title {
    margin-bottom: 20px;
  }
  .subTitle {
    font-size: 24px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 42px;
  }
  .meetingIntro {
    display: flex;
    position: relative;
    // padding: 0 360px;
    padding-top: 200px;
    max-width: 1000px;
    margin: 0 auto;
    .blueBtn {
      margin-top: 45px;
    }

    .meetingIntroLeft {
      max-width: 850px;
      // flex: 2;
      // display: flex;
      // flex-direction: column;
    }
    .meetingIntroRight {
      position: absolute;
      right: 10%;
      top: 100px;
      .poemWrapper {
        display: flex;
        font-size: 28px;
        width: 80px;
        position: absolute;
        top: 90px;
        right: 40px;
        .poem {
          width: 40px;
        }
      }

      // flex: 1;
      // display: flex;
      // flex-direction: column;
    }

    .meetingIntroText {
      font-size: 24px;
      font-weight: 300;
      color: #666666;
    }
    .g1 {
      width: 280px;
      height: 280px;
    }
  }

  .centerPic {
    height: 1200px;
    height: 800px;
    background: url(~@/static/img/home/centerBg.png) no-repeat;
    background-size: 100% 100%;
    .centerBg {
      // height: 800px;
    }
  }
  .meetingThemeWrapper {
    border: 1px solid #d1d5db;
    border-radius: 20px;
    margin-top: -50px;
    margin-bottom: 110px;
    padding: 110px 0;
    background: white;
  }
  .meetingTheme {
    // padding: 0 360px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    .meetingThemeGrid {
      display: flex;
      flex-wrap: wrap;
      width: 800px;
      margin: 0 auto;
      .meetingThemeGridItem {
        // flex: 0 0 250px;
        width: 25%;
        height: 220px;
        height: 200px;
        border: 1px solid #d1d5db;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
          border-top-left-radius: 25px;
        }
        &:nth-child(4) {
          border-top-right-radius: 25px;
        }
        &:nth-child(9) {
          border-bottom-left-radius: 25px;
        }
        .meetingThemeIcon {
          width: 42px;
          height: 42px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .meetingReg {
    position: relative;
    // padding: 0 360px;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
    // height: 1000px;
    .g2 {
      width: 300px;
      height: 300px;
    }
    .meetingRegWrapper {
      display: flex;
    }

    .meetingRegLeft {
      // position: absolute;
      // // left: 0;
      // top: 100px;
      position: relative;
      display: inline-flex;
      .poemWrapper {
        display: flex;
        font-size: 28px;
        width: 80px;
        position: absolute;
        // top: 90px;
        // right: 40px;
        top: 111px;
        left: 200px;
        .poem {
          width: 40px;
        }
      }
    }
    .meetingRegRight {
      color: #333333;
      display: inline-flex;
      flex-direction: column;
      margin-left: 117px;
      .meetingRegIndex {
        font-size: 90px;
        font-weight: 900;
      }
      .meetingRegItem {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 98px;
        .meetingRegTitle {
          margin-top: 12px;
          margin-bottom: 18px;
        }
      }
    }
  }
  .meetingInfo {
    // height: 762px;
    // padding: 160px 360px;
    // max-width: 1000px;
    margin: 0 auto;
    background: #f9f9f9;
    position: relative;
    padding: 162px 0;
    .meetingInfoWrapper {
      max-width: 1000px;
      margin: 0 auto;
    }

    .g3 {
      position: absolute;
      right: 0;
      top: -260px;
      // width: 300px;
      // height: 300px;
    }
  }
  .meetingTravel {
    // padding: 160px 360px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 120px 0;
    .meetingTravelGrid {
      display: flex;
      .meetingTravelGridItem {
        // flex: 0 0 373px;
        width: 33%;
        margin-right: 41px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .meetingTravelIcon {
          margin-bottom: 32px;
          width: 100%;
          // height: 421px;
        }
      }
    }
  }
  .supporter {
    height: 762px;
    // padding: 160px 360px;
    background: url(~@/static/img/home/bottomBg.png) no-repeat;
    background-size: 100% 100%;
    .supporterWrapper {
      max-width: 1000px;
      margin: 0 auto;
    }

    .supporterGrid {
      display: flex;
      margin-top: 51px;
      .supporterGridItem {
        // flex: 0 0 373px;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .supporterIcon {
          // width: 146px;
          // height: 132px;
          // border: 1px solid #d1d5db;
          margin-bottom: 27px;
        }
      }
    }
  }
}
